apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ deployment_name }}
  namespace: {{ namespace_name }}
  labels:
    {{ labels | to_nice_yaml | indent(4) | trim }}
spec:
  replicas: {{ replicas }}
  selector:
    matchLabels:
      app: {{ labels.app }}
  template:
    metadata:
      labels:
        app: {{ labels.app }}
        tier: frontend
    spec:

      # --- Init container --- 
      # Writes runtime config.json containing the API key
      initContainers:
        - name: generate-config
          image: busybox
          command:
            - sh
            - -c
            - |
              echo "Generating config.json"
              cat <<EOF > /config/config.json
              {
                "apiKey": "{{ react_api_key }}"
              }
              EOF
          volumeMounts:
            - name: frontend-config-volume
              mountPath: /config

      containers:
        - name: {{ app_name }}-container
          image: {{ image }}
          imagePullPolicy: Always

          ports:
            - containerPort: {{ container_port }}

          # React CANNOT read env vars. Use mounted config.json instead.
          volumeMounts:
            - name: frontend-config-volume
              mountPath: /usr/share/nginx/html/config.json
              subPath: config.json

          resources:
            requests:
              cpu: "{{ resources.requests.cpu }}"
              memory: "{{ resources.requests.memory }}"
            limits:
              cpu: "{{ resources.limits.cpu }}"
              memory: "{{ resources.limits.memory }}"

      volumes:
        - name: frontend-config-volume
          emptyDir: {}
